.footer {
    height: 9.375rem;
    box-shadow: inset 0 0.625rem 1.875rem -0.625rem var(--color-primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
