@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.welcomeText {
    animation: fadeInOut 6s ease-in-out infinite;
    animation-direction: alternate;
    font-size: 36px;
}

@media screen and (max-width: 480px) {
    .welcomeText {
        font-size: 24px;
    }
}
